# ==============================================================================
# CLOCK
# ==============================================================================
# 50 MHz Oscillator is on Pin T9
NET "clk" LOC = "T9";

# ==============================================================================
# BUTTONS
# ==============================================================================
# BTN3 (Leftmost) -> Reset
NET "rst"       LOC = "L14"; 
# BTN2 -> Pause
NET "btn_pause" LOC = "L13"; 

# ==============================================================================
# SWITCHES
# ==============================================================================
# SW0 (Rightmost) -> Student Select
NET "sw_select" LOC = "F12"; 

# ==============================================================================
# 7-SEGMENT DISPLAY (Cathodes)
# ==============================================================================
NET "seg<0>" LOC = "E14"; # Segment a
NET "seg<1>" LOC = "G13"; # Segment b
NET "seg<2>" LOC = "N15"; # Segment c
NET "seg<3>" LOC = "P15"; # Segment d
NET "seg<4>" LOC = "R16"; # Segment e
NET "seg<5>" LOC = "F13"; # Segment f
NET "seg<6>" LOC = "N16"; # Segment g

# ==============================================================================
# 7-SEGMENT DISPLAY (Anodes)
# ==============================================================================
# Controls which Digit is Active (Active Low)
NET "an<3>" LOC = "E13"; # Leftmost Digit
NET "an<2>" LOC = "F14";
NET "an<1>" LOC = "G14"; 
NET "an<0>" LOC = "D14"; # Rightmost Digit